title{
    text-align:center; 
    background-color:yellow; 
    color:blue;
}
body {
    background-image:url("redirectorbgb.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
button{
    height:40px;
    width:100px;
    color:black;
    float: right;
}
#col1{
    font-size:200%; 
    color:white;
}
#col2{
    color:white;
    float: right;
    font-size: 150%;
    text-align: center;
}
#col3{
    text-align:left;
    font-size:200%;
    color:black;
}
#col4{
    font-size:200%; 
    color:white;
}
#col5{
    text-align:left; 
    font-size:200%; 
    color:black
}
#col6{
    height:40px;
    width:100px;
    float: right;
}
#col7{
    text-align:center; 
    color:white;
}
#col8{
    text-align:center; 
    background-color:white; 
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}